<h2>single game page</h2>
game: {{game.id}}



<div class="row">
    <div class="outerclip">
        <div class="innerclip">
            <%= image_tag "Chess_pictogram.svg.png" %>
        </div>
    </div><div class="outerclip">
        <div class="innerclip">
            <img src="http://lorempixel.com/200/200/food/2" />
        </div>
    </div><div class="outerclip">
        <div class="innerclip">
            <img src="http://lorempixel.com/200/200/food/2" />
        </div>
    </div>
</div>
<div class="row">
    <div class="outerclip">
        <div class="innerclip">
            <img src="http://lorempixel.com/200/200/food/2" />
        </div>
    </div><div class="outerclip">
        <div class="innerclip">
            <img src="http://lorempixel.com/200/200/food/2" />
        </div>
    </div><div class="outerclip">
        <div class="innerclip">
            <img src="http://lorempixel.com/200/200/food/2" />
        </div>
    </div>
</div>
<div class="row">
    <div class="outerclip">
        <div class="innerclip">
            <img src="http://lorempixel.com/200/200/food/2" />
        </div>
    </div><div class="outerclip">
        <div class="innerclip">
            <img src="http://lorempixel.com/200/200/food/2" />
        </div>
    </div><div class="outerclip">
        <div class="innerclip">
            <img src="http://lorempixel.com/200/200/food/2" />
        </div>
    </div>
</div>
