<div id="gamewrapper">
<h2>single game page</h2>
<div id="gameinfo">game: {{game.id}}</div>



<div class="row" ng-repeat="row in row_range">
    <div class="outerclip" ng-repeat="col in col_range" ng-class='need_to_remove_space(row,col)'>
        <div class="innerclip" ng-class='get_hex_class(row,col)' ng-click='do_click(row,col)'>
            <span class="space_id">{{get_debug_text(row,col)}}</span>
            <img src="{{get_piece_image(row,col)}}"></img>
        </div>
    </div>
</div>
</div>