<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">StarChess</h3>
    </div> 
    <div class="panel-body">
      <p>StarChess is a chess variant on a star-shaped board, and very easy to pick up if you know chess. <b>Original rules <a href="http://www.polgarstarchess.com/Rules/ENRules.html">here</a>.</b></p>
      <button ng-click="newStarchessGame()" type="button" class="btn btn-success">New StarChess Game</button>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Starcraft Chess</h3>
    </div> 
    <div class="panel-body">
      <p>Starcraft Chess is way different than chess, and has more of a resource creation / RTS feel. <b>Original rules <a href="https://unorthodox-engineers.blogspot.com/2014/02/starchess-rules.html">here</a>.</b>
      <br/> Note that I've changed the rules slightly - rooks can now move 1 non-taking square diagonally as well as their normal up and down.</p>
      <button ng-click="newStarcraftGame()" type="button" class="btn btn-success">New Starcraft Chess Game</button>
    </div>
  </div>
  <div id="games_helptext">
    Note: Invite a friend to join any new game by sending them the link to the game page; they will have to log in first.
    <br/> There is also a clearly-marked option avaiable on the new game page to play a rudimentary AI.
  </div>
</div>
<div class="container" ng-if="games.length">
  <h3>Your current and recent games:</h3>
  <div ng-repeat="game in games">
    <ul>
      <li>
        Player1: {{game.extra_state.player1}}
      </li>
      <li>
      <div ng-if="game.player2_id == 0">
        <a href="" ng-click="joinGame(game.id)">Join this game!</a>
      </div>
      <div ng-if="game.player2_id != 0">
        Player2: {{game.extra_state.player2}}
      </div>
      </li>
      <li ng-if="game.extra_state.special_state">
        Status: {{game.extra_state.special_state}}
      </li>
      <li ng-if="game.turn && !game.extra_state.winner">
        Turn: {{game.turn}}
      </li>
      <li ng-if="game.extra_state.winner">
        Winner: {{game.extra_state.winner}}
      </li>
      
      <li>
      <a href="#/StarchessGames/{{game.id}}">Go to game</a>
      </li>
    </ul>
  </div>
</div>