<div id="gameinfo_container" class="container">
  <div id="gameinfo"><b>{{game.extra_state.player1}}</b> vs <b>{{game.extra_state.player2}}</b></div>
  <div id="gameinfo">{{game_status}}</div>
  <div id="gameinfo">current turn: {{game.turn}} - you are: <b>{{game.extra_state.current_user_player}}</b></div>
  <div id="gameinfo">
    <div class="fb-share-button" data-href={{get_game_url()}} data-layout="button"></div>    
  </div>
</div>
<div id="gamewrapper" class="container">

<div class="gamerow" ng-repeat="row in row_range">
    <div class="outerclip" ng-repeat="col in col_range" ng-class='need_to_remove_space(row,col)'>
        <div class="innerclip" ng-class='get_hex_class(row,col)' ng-click='do_click(row,col)'>
            <span class="space_id">{{get_debug_text(row,col)}}</span>
            <img src="{{get_piece_image(row,col)}}"></img>
        </div>
    </div>
</div>


</div>