<h2>single game page</h2>
game: {{game.id}}

<div class="hexagon">
  <div class="contents">
    <img id="myimg" src="http://cdn.sstatic.net/stackoverflow/img/favicon.ico" />
  </div>
</div>
<!--
<div class="row">
    <div class="outerclip">
        <div class="innerclip">
            <img src="http://img1.wikia.nocookie.net/__cb20090714124528/firefly/images/thumb/1/11/Firefly_class_ship.jpg/100px-136,568,0,431-Firefly_class_ship.jpg" />
        </div>
    </div><div class="outerclip">
        <div class="innerclip">
            <img src="http://img1.wikia.nocookie.net/__cb20090714124528/firefly/images/thumb/1/11/Firefly_class_ship.jpg/100px-136,568,0,431-Firefly_class_ship.jpg" />
        </div>
    </div><div class="outerclip">
        <div class="innerclip">
            <img src="http://img1.wikia.nocookie.net/__cb20090714124528/firefly/images/thumb/1/11/Firefly_class_ship.jpg/100px-136,568,0,431-Firefly_class_ship.jpg" />
        </div>
    </div>
</div>
<div class="row">
    <div class="outerclip">
        <div class="innerclip">
            <img src="http://img1.wikia.nocookie.net/__cb20090714124528/firefly/images/thumb/1/11/Firefly_class_ship.jpg/100px-136,568,0,431-Firefly_class_ship.jpg" />
        </div>
    </div><div class="outerclip">
        <div class="innerclip">
            <img src="http://img1.wikia.nocookie.net/__cb20090714124528/firefly/images/thumb/1/11/Firefly_class_ship.jpg/100px-136,568,0,431-Firefly_class_ship.jpg" />
        </div>
    </div><div class="outerclip">
        <div class="innerclip">
            <img src="http://img1.wikia.nocookie.net/__cb20090714124528/firefly/images/thumb/1/11/Firefly_class_ship.jpg/100px-136,568,0,431-Firefly_class_ship.jpg" />
        </div>
    </div>
</div>
<div class="row">
    <div class="outerclip">
        <div class="innerclip">
            <img src="http://img1.wikia.nocookie.net/__cb20090714124528/firefly/images/thumb/1/11/Firefly_class_ship.jpg/100px-136,568,0,431-Firefly_class_ship.jpg" />
        </div>
    </div><div class="outerclip">
        <div class="innerclip">
            <img src="http://img1.wikia.nocookie.net/__cb20090714124528/firefly/images/thumb/1/11/Firefly_class_ship.jpg/100px-136,568,0,431-Firefly_class_ship.jpg" />
        </div>
    </div><div class="outerclip">
        <div class="innerclip">
            <img src="http://img1.wikia.nocookie.net/__cb20090714124528/firefly/images/thumb/1/11/Firefly_class_ship.jpg/100px-136,568,0,431-Firefly_class_ship.jpg" />
        </div>
    </div>
</div>
-->