<h2>Current Starchess Games:</h2>
<a href="" ng-click="newGame()">Start a new game</a>
<div ng-repeat="game in games">
  <ul>
    <li>
      player1: {{game.player1_id}}
    </li>
    <li>
    <div ng-if="game.player2_id == 0">
      <a href="" ng-click="joinGame(game.id)">Join this game!</a>
    </div>
    <div ng-if="game.player2_id != 0">
      player2: {{game.player2_id}}
    </div>
    </li>
    <li>
      turn: {{game.turn}}
    </li>
    <li>
    <a href="#/StarchessGames/{{game.id}}">Go to game</a>
    </li>
  </ul>
</div>